@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full border-[3px] border-dark;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

.glass-card {
  @apply bg-glass backdrop-blur-md border border-glassBorder shadow-xl;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
}

